#buttonimg {
	height: 200px;
	width: 200px;
}

.subjectListBody {
	width: 50%;
}


.subjectList-container1 {
	margin-bottom: 5px;
	width: 75%;
	border-style: solid;
	border-radius: 2px;
	border-bottom-color: #0066CC;
	border-left-color: #0066CC;
	border-top-color: #66A3E0;
	border-right-color: #66A3E0;
	background-color: #33D633;
	border-width: 3px;
	background-color:#4D94DB;
	font-size: 1.5em;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.subjectList-container2 {
	width: 50%;
	margin-bottom: 5px;
	border-style: solid;
	border-radius: 2px;
	border-width: 3px;
	border-color: #00CC00;
	background-color: #33D633;
	font-size: 1.5em;
	color: #fff;
}
.itemList-container1 {
	margin-bottom: 5px;
	width: 75%;
	border-style: solid;
	border-radius: 2px;
	border-bottom-color: #FF4719;
	border-left-color: #FF4719;
	border-top-color: #FFAD99;
	border-right-color: #FFAD99;
	border-width: 3px;
	background-color:#FF8566;
	font-size: 1.75em;
	color: #fff;
	border
}

.itemList2 {
	width: 100%;
	margin-bottom: 5px;
}

.input {
	width: 65.5%;
}


ul {
	list-style: none;
}

.deleteButton {
	float: right;
	color: red;

}

.deleteButton2 {
	float: right;
	height: 34px;
	color: red;

}