html {
	background-color: #976053;
}

/*body {
	background-color: #976053;
}*/

.body-div {
	width: 80%;
	margin: 0 auto;


}

#buttonimg {
	float: left;
	height: 200px;
	width: 200px;
}

.subjectListBody {
	width: 50%;
}


.subjectList-container1 {
	margin-bottom: 5px;
	width: 75%;
	border-style: solid;
	border-radius: 2px;
	border-bottom-color: #0066CC;
	border-left-color: #0066CC;
	border-top-color: #66A3E0;
	border-right-color: #66A3E0;
	background-color: #33D633;
	border-width: 3px;
	background-color:#4D94DB;
	font-size: 1.5em;
	color: #fff;
	display: flex;
	justify-content: space-between;
}

.subjectList-container2 {
	width: 60%;
	margin-bottom: 5px;
	border-style: solid;
	border-radius: 2px;
	border-width: 3px;
	border-top-color: #00B800; 
	border-right-color: #00B800;
	border-bottom-color: #006600;
	border-left-color: #006600;
	background-color: #008F00;
	font-size: 1.5em;
	color: #fff;
}
.itemList-container1 {
	margin-bottom: 5px;
	width: 75%;
	border-style: solid;
	border-radius: 2px;
	border-bottom-color: #FF4719;
	border-left-color: #FF4719;
	border-top-color: #FFAD99;
	border-right-color: #FFAD99;
	border-width: 3px;
	background-color:#FF8566;
	font-size: 1.75em;
	color: #fff;
	border
}

.item-list-container2 {
	margin-bottom: 5px;
	width: 100%;
	border-style: solid;
	border-radius: 2px;
	border-bottom-color: #FF4719;
	border-left-color: #FF4719;
	border-top-color: #FFAD99;
	border-right-color: #FFAD99;
	border-width: 3px;
	background-color:#FF8566;
	font-size: 1.25em;
	color: #fff;
	border
}

.main-item-listGo-container {
	display: flex;
	flex-direction: row;
}

.button-container {
	width: 50%;
}

.list-container-container {
	width: 50%;
}

.home-main-container {
	display: flex;
	flex-direction; row;
}

.home-left-container {
	width: 50%;
}

.home-right-container {
	width: 50%;
}

/*.itemList2 {
	width: 100%;
	margin-bottom: 5px;
}*/

.input {
	width: 65.5%;
}


ul {
	list-style: none;
}

.deleteButton {
	float: right;
	color: red;
	height: 3px;

}

.deleteButton2 {
	float: right;
	/*height: 34px;*/
	color: red;
}

.header2 {
	color: #DD360C;
	font-size: 3em;
	font-family: "Arial Black", Gadget, sans-serif;
}

.empty-space {
	height: 100px;
	background-color: #fff;
	width: 100%;
}