
<!-- <h1>{{what the getRandomItem function returns to me.}}</h1> -->

<!-- will probably need a directive or add some jQuery to this button to make it bounce when pushed -->
<div class="body-div">
<br/>
<div class="main-item-listGo-container">


	<div class="button-container">
		<div>
			<div>
			<header2 class="header2">{{finalRandomItem}}</header2>
			</div>
			<div>
				<img id="buttonimg" src="artwork/go_button2.jpg" class="animated tada" ng-click="randomize()">
			</div>
		</div>
		
	</div>
	 <br>
	
	<div class="list-container-container">
		<div>
			<div class="item-list-container2" ng-repeat="item in items track by $index" ng-model="items">
			{{item}}</div>
		</div>
	</div>
</div>


<hr>
</div>