<div class="body-div">
<div style="display: flex;
  flex-direction: row;">
  <div style="width: 50%;">
    <button ng-click="getSubjectLists()">View Subject List</button>
    <br/>
    <br/>
    <br/>
    <input type="text" class="input" placeholder="Enter New Subject/Group Name and press ENTER" ng-model="subjectName" ng-keydown="$event.which === 13 && postSubjectList(subjectName)"/>
    <!-- <button ng-click="postSubjectList(subjectName)">ADD</button> -->

    <br/>
    <br/>
    <div class="subjectList-container1" ng-repeat="subjectList in subjectLists" ng-click="showItemList(subjectList.item, subjectList._id, subjectList.name)">
		  {{subjectList.name}}
        <button class="deleteButton" ng-click="deleteSubjectList($index)"></button>
		</div>
  </div>
  
  <div style="width: 50%;">
    <h2>{{itemParentName}} List</h2>
    <input type="text" placeholder="Add Items or People and press ENTER" class="input" ng-model="newItem" ng-keydown="$event.which === 13 && saveItemNames(newItem)"/>
    <!-- <button ng-click="saveItemNames(itemName)">Add Items</button> -->
    <br/>
    <br/>
      <div class="itemList-container1" ng-repeat="currentItem in currentItems track by $index">          
          {{ currentItem }}
          <button class="deleteButton2" ng-click="deleteItemList($index)"></button>
      </div>
  </div>
</div>
</div>





<!--//////SOMEHOW THIS BELOW NEEDS TO GO INTO MY NG-REPEAT DIV////
//////Also, I am not sure if I am getting the systax for my ng-clicks correct with their corresponding function callers.  Not sure if the ng-click being in the drop down menu will delete that subject list

I am creating my own styled divs that contain the subject list names around the dropdown menu ul's and il's, so I will not need
the buttons  I need the divs to stretch width: 100%; and buttons not be of variaous sizes due to different lengths of wordings -->



<!-- <div class="btn-group" dropdown keyboard-nav>
    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdown-toggle>
        Dropdown with keyboard navigation <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a sref="#">{{subjectList.name}} List</a></li> 
        <li role="menuitem" ng-click="deleteSubjectList()">Delete Subject</a></li>
    </ul>
</div> -->
