<button ng-click="getSubjectLists()">View Subject List</button>
<br/>
<input type="text" placeholder="Enter a New subject or group Name" ng-model="subjectName"/>
<button ng-click="postSubjectList(subjectName)">ADD</button>

<div class="subjectList2" ng-repeat="subjectList in subjectLists">
	<div class="subjectList1" ng-model="selectedCategory" ng-click="deleteBird($index)"> <!-- Don't delte the bird, activates a click function in controller to bring up itemList in a new view through UI-router multiview-->
	{{subjectList.name}}  <!-- this may need further styling -->
</div>



<!--//////SOMEHOW THIS BELOW NEEDS TO GO INTO MY NG-REPEAT DIV////
//////Also, I am not sure if I am getting the systax for my ng-clicks correct with their corresponding function callers.  Not sure if the ng-click being in the drop down menu will delete that subject list

I am creating my own styled divs that contain the subject list names around the dropdown menu ul's and il's, so I will not need
the buttons  I need the divs to stretch width: 100%; and buttons not be of variaous sizes due to different lengths of wordings -->

<!-- <div class="btn-group" dropdown keyboard-nav>
    <button id="simple-btn-keyboard-nav" type="button" class="btn btn-primary" dropdown-toggle>
        Dropdown with keyboard navigation <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
        <li role="menuitem"><a sref="#">{{subjectList.name}} List</a></li> 
        <li role="menuitem" ng-click="deleteSubjectList()">Delete Subject</a></li>
    </ul>
</div> -->
